* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2:after {
    content:'    ';
    display: block;
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
    width:25%;
    height: 3px;
    font-weight: 300px;
    background-color: #1b1a1a;
}

h2 {
    text-align: center;
    font-weight: 350;
    margin-top: 15px;
    margin-bottom: 15px;
}


p {
    text-align: justify;
    font-weight: 350;
    margin-top: 15px;
    margin-bottom: 15px;
}

strong {
    font-weight: 400;
}

.filter h4, .materals h4 {
    font-weight:350;
    font-size:35px;

}
.filter {
    border: 1px solid;
    border-radius:25px;
    padding: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.filter-header {
    font-size:18px;
    font-weight: 400;
}

.filter ul{
    text-align: left;
    font-weight: 350;
    list-style-type: none;
}
.filter ul:after{
    content:'    ';
    display: block;
    margin-top: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 1px;
    font-weight: 300px;
    background-color: #726f6f;
    opacity: 0.5;
}

.filter li a{
    text-decoration: none;
    font-weight: 350;
    color: #979797;
}

.filter li a:hover{
    font-weight: 360;
    color: #3c9df8;
    cursor: pointer;
}

.materals {
    text-align:center
}

.materals table{
    text-align:center;
    font-weight: 350;
    font-size: 15px;
}
.materals table th{
    text-align:left;
}